# Wearable Dataset

In [ ]:
import pandas as pd

In [6]:
activity_envitonment_df_path = "../Datasets/Wearables_dataset/archive/activity_environment_data.csv"
digital_interaction_df_path = "../Datasets/Wearables_dataset/archive/digital_interaction_data.csv"
personal_health_df_path = "../Datasets/Wearables_dataset/archive/personal_health_data.csv"

activity_envitonment_df = pd.read_csv(activity_envitonment_df_path)
digital_interaction_df = pd.read_csv(digital_interaction_df_path)
personal_health_df = pd.read_csv(personal_health_df_path)

### Activity Envitonment DataFrame

In [4]:
activity_envitonment_df.head()

,User_ID,Timestamp,Steps,Calories_Burned,Distance_Covered,Exercise_Type,Exercise_Duration,Exercise_Intensity,Ambient_Temperature,Battery_Level,Altitude,UV_Exposure
0,U_00001,2021-01-01 00:00:00,9146,457.30,7.3168,Running,1.219675,Low,27.271525,97.338777,1739.690662,4.069132
1,U_00002,2021-01-01 01:00:00,9362,468.10,7.4896,Yoga,1.378399,Moderate,24.430288,66.573240,4102.042824,1.723672
2,U_00003,2021-01-01 02:00:00,21,1.05,0.0168,Strength Training,0.803857,Moderate,29.340574,30.138828,1794.899935,0.135647
3,U_00004,2021-01-01 03:00:00,13252,662.60,10.6016,NaN,0.000000,NaN,25.289230,78.838640,4025.840921,4.408343
4,U_00005,2021-01-01 04:00:00,21,1.05,0.0168,Yoga,0.807389,High,21.853590,17.673261,3422.381447,2.820739

In [5]:
activity_envitonment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User_ID              10000 non-null  object
 1   Timestamp            10000 non-null  object
 2   Steps                10000 non-null  int64
 3   Calories_Burned      10000 non-null  float64
 4   Distance_Covered     10000 non-null  float64
 5   Exercise_Type        7399 non-null   object
 6   Exercise_Duration    10000 non-null  float64
 7   Exercise_Intensity   7399 non-null   object
 8   Ambient_Temperature  10000 non-null  float64
 9   Battery_Level        10000 non-null  float64
 10  Altitude             10000 non-null  float64
 11  UV_Exposure          10000 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 937.6+ KB

### Digital Interaction Dataframe

###