# Wearable Dataset

In [14]:
import pandas as pd

In [15]:
activity_envitonment_df_path = "../Datasets/Wearables_dataset/archive/activity_environment_data.csv"
digital_interaction_df_path  = "../Datasets/Wearables_dataset/archive/digital_interaction_data.csv"
personal_health_df_path      = "../Datasets/Wearables_dataset/archive/personal_health_data.csv"

In [16]:
activity_envitonment_df = pd.read_csv(activity_envitonment_df_path)
digital_interaction_df  = pd.read_csv(digital_interaction_df_path)
personal_health_df      = pd.read_csv(personal_health_df_path)

### Activity Envitonment DataFrame

In [17]:
activity_envitonment_df.head()

,User_ID,Timestamp,Steps,Calories_Burned,Distance_Covered,Exercise_Type,Exercise_Duration,Exercise_Intensity,Ambient_Temperature,Battery_Level,Altitude,UV_Exposure
0,U_00001,2021-01-01 00:00:00,9146,457.30,7.3168,Running,1.219675,Low,27.271525,97.338777,1739.690662,4.069132
1,U_00002,2021-01-01 01:00:00,9362,468.10,7.4896,Yoga,1.378399,Moderate,24.430288,66.573240,4102.042824,1.723672
2,U_00003,2021-01-01 02:00:00,21,1.05,0.0168,Strength Training,0.803857,Moderate,29.340574,30.138828,1794.899935,0.135647
3,U_00004,2021-01-01 03:00:00,13252,662.60,10.6016,NaN,0.000000,NaN,25.289230,78.838640,4025.840921,4.408343
4,U_00005,2021-01-01 04:00:00,21,1.05,0.0168,Yoga,0.807389,High,21.853590,17.673261,3422.381447,2.820739

In [18]:
activity_envitonment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User_ID              10000 non-null  object
 1   Timestamp            10000 non-null  object
 2   Steps                10000 non-null  int64
 3   Calories_Burned      10000 non-null  float64
 4   Distance_Covered     10000 non-null  float64
 5   Exercise_Type        7399 non-null   object
 6   Exercise_Duration    10000 non-null  float64
 7   Exercise_Intensity   7399 non-null   object
 8   Ambient_Temperature  10000 non-null  float64
 9   Battery_Level        10000 non-null  float64
 10  Altitude             10000 non-null  float64
 11  UV_Exposure          10000 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 937.6+ KB

### Digital Interaction Dataframe

In [19]:
digital_interaction_df.head()

   User_ID            Timestamp  Notifications_Received  Screen_Time
0  U_00001  2021-01-01 00:00:00                      34     1.854833
1  U_00002  2021-01-01 01:00:00                      16     0.245456
2  U_00003  2021-01-01 02:00:00                      41     2.539901
3  U_00004  2021-01-01 03:00:00                      48     3.078411
4  U_00005  2021-01-01 04:00:00                      70     2.624290

In [20]:
digital_interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   User_ID                 10000 non-null  object
 1   Timestamp               10000 non-null  object
 2   Notifications_Received  10000 non-null  int64
 3   Screen_Time             10000 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 312.6+ KB

### Personal Health Dataframe

In [21]:
personal_health_df.head()

,User_ID,Age,Gender,Weight,Height,Medical_Conditions,Medication,Smoker,Alcohol_Consumption,Timestamp,...,ECG,Calories_Intake,Water_Intake,Stress_Level,Mood,Skin_Temperature,Body_Fat_Percentage,Muscle_Mass,Health_Score,Anomaly_Flag
0,U_00001,61,Other,88.677623,178.524231,Diabetes,No,No,Moderate,2021-01-01 00:00:00,...,Abnormal,2444.985808,3.105556,Moderate,Neutral,32.752993,17.432985,77.599448,25.992071,1
1,U_00002,24,Male,86.742084,200.346358,NaN,Yes,No,Moderate,2021-01-01 01:00:00,...,Normal,2199.777020,2.441118,High,Anxious,35.010044,23.957792,71.718936,64.308450,0
2,U_00003,81,Other,61.656054,195.971356,Hypertension,Yes,No,Moderate,2021-01-01 02:00:00,...,Abnormal,2182.755640,1.240341,Low,Sad,36.797523,22.995533,59.874936,78.003546,1
3,U_00004,70,Other,141.513794,164.178216,Hypertension,No,No,Heavy,2021-01-01 03:00:00,...,Normal,1451.218888,1.682383,Moderate,Happy,32.614592,13.410659,67.528098,16.454106,1
4,U_00005,30,Other,80.552872,146.920675,Diabetes,Yes,Yes,Heavy,2021-01-01 04:00:00,...,Normal,1583.562773,1.461862,High,Happy,33.602319,24.920020,54.741487,42.528202,0

In [22]:
personal_health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User_ID              10000 non-null  object
 1   Age                  10000 non-null  int64
 2   Gender               10000 non-null  object
 3   Weight               10000 non-null  float64
 4   Height               10000 non-null  float64
 5   Medical_Conditions   6696 non-null   object
 6   Medication           10000 non-null  object
 7   Smoker               10000 non-null  object
 8   Alcohol_Consumption  6640 non-null   object
 9   Timestamp            10000 non-null  object
 10  Day_of_Week          10000 non-null  object
 11  Sleep_Duration       10000 non-null  float64
 12  Deep_Sleep_Duration  10000 non-null  float64
 13  REM_Sleep_Duration   10000 non-null  float64
 14  Wakeups              10000 non-null  int64
 15  Snoring              10000 non-null  object
 16  Heart_Rate           10000 non-null  int64
 17  Blood_Oxygen_Level   10000 non-null  float64
 18  ECG                  10000 non-null  object
 19  Calories_Intake      10000 non-null  float64
 20  Water_Intake         10000 non-null  float64
 21  Stress_Level         10000 non-null  object
 22  Mood                 10000 non-null  object
 23  Skin_Temperature     10000 non-null  float64
 24  Body_Fat_Percentage  10000 non-null  float64
 25  Muscle_Mass          10000 non-null  float64
 26  Health_Score         10000 non-null  float64
 27  Anomaly_Flag         10000 non-null  int64
dtypes: float64(12), int64(4), object(12)
memory usage: 2.1+ MB

In [23]:
personal_health_df.columns

Index(['User_ID', 'Age', 'Gender', 'Weight', 'Height', 'Medical_Conditions',
       'Medication', 'Smoker', 'Alcohol_Consumption', 'Timestamp',
       'Day_of_Week', 'Sleep_Duration', 'Deep_Sleep_Duration',
       'REM_Sleep_Duration', 'Wakeups', 'Snoring', 'Heart_Rate',
       'Blood_Oxygen_Level', 'ECG', 'Calories_Intake', 'Water_Intake',
       'Stress_Level', 'Mood', 'Skin_Temperature', 'Body_Fat_Percentage',
       'Muscle_Mass', 'Health_Score', 'Anomaly_Flag'],
      dtype='object')